  * {
    box-sizing: border-box;
  }

  body {
    background-image: url(../assests/images/Screen\ Shot\ 2022-10-07\ at\ 5.09.50\ PM.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: antiquewhite;
    margin: 0px;
  }

  .header {
    background-color: rgb(197, 192, 192);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .a-header {
    text-decoration: none;
    color: black;
  }

  .a-ultext {
    font-size: x-large;
  }

  .header-text {
    text-align: center;
  }

  h2 {
      text-align: center;
      margin: 0px 15px 0px 15px;
      padding: 15px;
      font-family: monospace;
      font-size: xxx-large;
  } 
  

  .searchli {
    font-size: xx-large;
    padding: 0px;
  }

  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 40px;
    border-radius: 10px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    padding: 0px 15px;
    font-family: monospace;
    opacity: .8;
    text-align: center;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
    font-size:x-large ;
  }

  p {
      display: inline-flex;
      font-style: italic;
  }

  /* Login */

  .fa-solid .fa-right-to-bracket {
    align-content: flex-end;
  }

  .login {
    display: inline;
    float: right;
    padding-right: 25px;
  }

  /* Spot Card */
  .column1 {
    float: left;
    width: 40%;
    font-family: monospace;
  }

  li {
    font-size: x-large;
    padding: 8px;
  }



  ul {
    font-size: xx-large;
  }

  .column2 {
      float: right;
      width: 60%;
   

  }

  h2 {
    text-align: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .row {
    border: 1px solid gray;
    border-radius: 10px;
    background-color:  rgb(197, 192, 192, .8);
    margin: 0px 15px 0px 15px;
  }

  .img {
    max-width: 75%;  
    height: auto;  
  }

