  * {
    box-sizing: border-box;
  }

  body {
    background-image: url(../assets/images/Screen\ Shot\ 2022-10-07\ at\ 5.09.50\ PM.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: antiquewhite;
    margin: 0px;
  }
  
  

  .header {
    background-color: rgb(197, 192, 192);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1px;
    border-bottom: solid 2px white;
  }

  .a-header {
    text-decoration: none;
    color: black;
  }

  .a-ultext {
    font-size: x-large;
  }

  .header-text {
    text-align: center;
    height: 10px;
  }

  h2 {
      text-align: center;
      margin: 0px 15px 0px 15px;
      padding: 15px;
      font-family: monospace;
      font-size: xxx-large;
  
  } 
  
  .signup-login {
    float: right;
    display: inline-flex;
    padding-right: 10px;
    text-decoration: none;
  }

  .login-txt {
    text-decoration: none;
    color: white;
  }

  .signup-txt {
    text-decoration: underline;
    color: black;
  }

  .searchli {
    font-size: xx-large;
    padding: 0px;
  }

  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px -5px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 40px;
    border-radius: 10px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: -9px;
    border-radius: 10px;
    padding: 0px 15px;
    font-family: monospace;
    opacity: .8;
    text-align: center;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
    font-size:x-large ;
  }

  p {
      display: inline-flex;
      font-style: italic;
  }

  /* Login */

  .fa-solid .fa-right-to-bracket {
    align-content: flex-end;
  }

  .login {
    display: inline;
    float: right;
    padding-right: 35px;
  }

  .signupbutton {
    background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  float: right;
  text-decoration: none;
  float: right;
    padding-right: 15px;
  }

  /* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-btn {
  background-color: darkgreen;
}

/* Set a style for all buttons */
.button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-right: 9px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    float: right;
    text-decoration: none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  float: right;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

  /* Spot Card */
  .column1 {
    float: left;
    width: 40%;
    font-family: monospace;
  }

  li {
    font-size: x-large;
    padding: 8px;
  }



  ul {
    font-size: xx-large;
    list-style-type: none;
  }

  .column2 {
      float: right;
      width: 60%;
   

  }

  h2 {
    text-align: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .row {
    border: 2px solid white;
    border-radius: 10px;
    background-color:  rgb(197, 192, 192, .8);
    margin: 0px 15px 0px 15px;
  }

  .img {
    max-width: 75%;  
    height: auto;  
    border-radius: 10px;
    border: 1px solid white;
  }

/* Comment Box */

.comment {
  width: 70%;
  display: flex;
  height: 70px;
  padding: 10px;
  margin-top: 30px;
  background-color: #aaaaaa;
  color: #000000;
  border-radius: 8px;
}

.divcomment {
  display: flow-root;
    text-align: -webkit-center;
}
 

